:root{ 
  --bg-main: #1e81b3;  
  --bg-main2: #53a2c9;   
  --bg-main3: #124a94;   
  --bg-main4: #218cc2;   
  --bg-text: #eef5ff;   
}
a:hover{
  text-decoration: none;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
  }
}
body{
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: var(--bg-body);  
}     
.logo1{ 
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  padding: 10px;
  width: 100%;
  left: 15px;
  top: -50px;
  background-color: #fff;
}   
.nav-top:after{
  content: "";
  width: 26%; 
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
}
.logo1 img{
  max-width: 100%;
  height: 80px;
} 
.nav-top{
  height: 50px;
  background-color: var(--bg-main2);
}
.nav-top p{
  color: #fff;
  padding-left: 30px;
  padding-top: 15px;
}
.nav-top p img{
  height: 30px;
  position: relative;
  margin-top: -5px;
  margin-left: 15px;
}
.nav-bot{
  height: 50px;
  background-color: #f3f8fb;
}
.nav-bot ul{
  padding-left: 0px;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.nav-bot ul li{
  text-align: center; 
  width: 100%; 
  height: 50px;
  line-height: 50px;
  transition: .33s all ease-out; 
  display: flex;
  width: 100%;
}
.nav-bot ul li a{
  text-align: center; 
  width: 100%; 
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: var(--bg-main3); 
}
.nav-bot ul li.active{ 
  background-color: var(--bg-main);
}
.nav-bot ul li.active a{
  color: #fff; 
}
.nav-bot ul li:hover{ 
  background-color: var(--bg-main);
}
.nav-bot ul li:hover a{
  color: #fff; 
}
.nav-bot ul li.active a i{
  font-size: 24px;
}
.cover .carousel .carousel-item img{
  height: 650px;
  object-fit: cover;
  width: 100%;
}
.cover .carousel .carousel-item h3 {
  color: var(--bg-main3);
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 500;
  font-size: 80px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.cover .carousel .carousel-item h4 {
  color: #fff;
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 500;
  font-size: 80px;
  text-shadow: 2px 0 #124a94, -2px 0 #124a94, 0 2px #124a94, 0 -2px #124a94,
               1px 1px #124a94, -1px -1px #124a94, 1px -1px #124a94, -1px 1px #124a94;
} 
.carousel-indicators li{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid var(--bg-main3);
  background-color: transparent;
}
.carousel-indicators li.active{ 
  background-color: var(--bg-main3);
}
.carousel-control-prev{
  background-color: rgba(255, 255, 255, .85);
  width: 60px;
  height: 60px;
  border-radius: 4px;
  left: 100px;
  top: calc(50% - 30px); 
  opacity: 1;
}
.carousel-control-next{
  background-color: rgba(255, 255, 255, .55);
  width: 60px;
  height: 60px;
  border-radius: 4px;
  right: 100px;
  top: calc(50% - 30px); 
  opacity: 1;
} 
.carousel-control-prev span{ 
  color: var(--bg-main3);
  font-weight: bold;
} 
.carousel-control-next span{ 
  color: var(--bg-main3);
  font-weight: bold;
}
.news-sec{ 
  z-index: 10;
  position: relative;
  padding: 60px 0px;
} 
.news-sec::after{
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  height: 50%; 
  background-color: #eef5ff;
}
.news-sec::before{
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 50%;
  height: 50%;
  background-color: #d9e9f7;
} 
.news-sec .container{ 
  z-index: 10;
  position: relative; 
} 
.news-sec h6{ 
  text-align: center;
  font-size: 20px;
  color: var(--bg-main2);
  font-family: 'Noto Sans Thai', sans-serif;
  margin-bottom: 15px;
}  
.news-sec h2{ 
  text-align: center;
  font-size: 48px;
  font-family: 'Rubik', sans-serif;
  color: var(--bg-main);
  text-transform: uppercase;
  margin-bottom: 40px;
} 
.news-sec .btn-x{ 
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0px;
  background-color: #eef5ff;
  padding: 10px 10px 5px;
  font-size: 20px;
  color: var(--bg-main);
  font-family: 'Noto Sans Thai', sans-serif;
  box-shadow: 9px 8px 5px -4px rgba(0,0,0,0.15);
  min-width: 200px;
  position: relative;
  border-bottom: 6px solid #eef5ff;
} 
.news-sec .btn-x.active{  
  background-color: var(--bg-main); 
  color: #fff; 
  border-bottom: 6px solid var(--bg-main3);
} 
.news-sec .btn-x.active:focus{   
  border-bottom: 6px solid var(--bg-main3);
}   
.news-sec .btn-x:focus{  
  outline: none;
  box-shadow: none;
  border: none;
} 
.news-sec .btn-x.active:after{
  content: "";
  left: 0;
  right: 0;
  bottom: -20px;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: var(--bg-main) transparent transparent transparent;
}
.box-news{
  min-height: 400px;
  position: relative; 
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: auto 100% !important;
  margin-top: 30px;
  width: 100%;
}
.box-news:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(30, 129, 179, 1) 100%);
  background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(30, 129, 179, 1) 100%);
  background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(30, 129, 179, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e81b3', endColorstr='#1e81b3',GradientType=0 );
}
.box-news .drs{ 
  z-index: 10;   
  padding: 15px;  
}
.box-news .drs h3{ 
  font-family: 'Noto Sans Thai', sans-serif; 
  color: #fff;
  font-size: 20px; 
  position: absolute;
  bottom: 100px;
  z-index: 10;
  padding-right: 20px;
}
.box-news .drs a{ 
  font-family: 'Noto Sans Thai', sans-serif; 
  color: #fff;
  font-size: 16px; 
  position: absolute;
  bottom: 50px;
  display: flex;
  z-index: 10;
}
.box-news .drs a div{  
  border-radius: 100%;   
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-color: var(--bg-main3); 
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-news .drs a div img{ 
  max-width: 100%; 
  width: 13px;
}
.tab{
  display: none !important;
}
.tab.active{
  display: block !important;
} 
.owl-dot{
  margin-top: 30px; 
  margin-bottom: 20px; 
} 
.owl-dot span{
  border: 100%;
  border: 1px solid var(--bg-main3) !important;
  background-color: transparent !important;
  width: 12px !important;
  height: 12px !important; 
} 
.owl-dot.active span{
  background-color: var(--bg-main3) !important;
} 
.btn-primary{
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: var(--bg-main) !important;
  font-size: 20px;
  border-radius: 6px;
  padding: 8px 30px;
  border: 1px solid var(--bg-main) !important;
}
.owl-nav{
  position: absolute;
  left: 0;
  top: calc(40% + 30px);
  width: 100%;
}
.owl-prev{
  left: 0;
  position: absolute;
  margin-left: -80px !important;
}
.owl-next{
  right: 0;
  position: absolute;
  margin-right: -80px !important;
}
.owl-nav div{
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: var(--bg-main3) !important; 
  color: var(--bg-main3) !important; 
}
.owl-nav .owl-prev:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0; 
  left: 13px;
  top: 10px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}
.owl-nav .owl-next:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0; 
  right: 13px;
  top: 10px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
  transform: rotate(180deg);
}
.activ-sec{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size:  100% auto !important;
  background: url(../images/bg1.png) , #53a2c9;
  padding-top: 50px;
  padding-bottom: 50px;
} 
.activ-sec h6{ 
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-family: 'Noto Sans Thai', sans-serif;
  margin-bottom: 15px;
}  
.activ-sec h2{ 
  text-align: center;
  font-size: 48px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
} 
.dataimg{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: auto  100%  !important;
  height: 400px; 
  position: relative;
} 
.dataimg:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 42%, rgba(0,0,0,0) 47%, rgba(0,0,0,0) 57%, rgba(0,0,0,0.07) 60%, rgba(66,66,66,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 42%,rgba(0,0,0,0) 47%,rgba(0,0,0,0) 57%,rgba(0,0,0,0.07) 60%,rgba(66,66,66,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 42%,rgba(0,0,0,0) 47%,rgba(0,0,0,0) 57%,rgba(0,0,0,0.07) 60%,rgba(66,66,66,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#424242',GradientType=0 ); 
}
.dataimg h4{
  color: #fff;
  position: absolute;
  font-family: 'Noto Sans Thai', sans-serif;
  bottom: 40px;
  left: 30px;
  font-size: 36px;
  z-index: 10;
}
.box-active{
  height: 113px;
  background-color: #eef5ff;
  margin-bottom: 30px;
  padding: 20px 10px 20px ;
  position: relative;
  padding-left: 110px;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 13px;
  color: #6d6e73;
}
.box-active div{
  position: absolute;
  left: 0;
  top: 0;
  height: 113px;
  width: 90px;
  background-color: #1e81b3;
  padding: 10px;
}
.box-active div h1{
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  color: var(--bg-text);
  text-align: center;
  margin-bottom: 0px;
  margin-top: -5px;
}
.box-active div h3{
  margin-top: -5px;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 18px;
  color: var(--bg-text); 
  text-align: center;
}
.box-active a{ 
  position: absolute;
  right: 15px; 
  bottom: 15px;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 13px;
  color: var(--bg-main3);  
}
.partner-sec{
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  height: 50%; 
  background-color: #fff;
}
.partner-sec::before{
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 50%;
  height: 50%;
  background-color: var(--bg-main);
} 
.partner-sec{
  min-height: 300px;
  z-index: 10;
  position: relative;
  padding: 60px 0px;
} 
.partner-sec h2{ 
  text-align: center;
  font-size: 48px;
  font-family: 'Rubik', sans-serif;
  color: var(--bg-main); 
  margin-bottom: 40px;
} 
.partner-sec .item div{
  height: 120px;
  width: 120px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size:  120px 120px !important;
  display: block;
  margin: auto;
}
.partner-sec  .owl-carousel{
  z-index: 10;
}
.partner-sec .owl-carousel .owl-nav.disabled{
  display: block;
}
.partner-sec .owl-nav div { 
  background-color: transparent !important; 
}
.partner-sec .owl-nav div { 
  background-color: transparent !important; 
}
.partner-sec .owl-nav .owl-prev:after { 
  border-color: transparent var(--bg-main3) transparent transparent;
}
.partner-sec .owl-nav .owl-next:after { 
  border-color: transparent var(--bg-main3) transparent transparent;
}
.partner-sec .owl-nav { 
  top: 15%;  
}
.partner-sec .owl-nav div{  
  color: transparent !important;
}
.partner-sec h4{
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  color: var(--bg-main)
}
.box-form{
  min-height: 400px;
  z-index: 10;
  margin-top: 100px;
  position: relative;
  background-color: #eef5ff;
  padding: 60px 50px;
  box-shadow: 9px 8px 5px -4px rgba(0,0,0,0.15)
}
.box-form h3{
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--bg-main);
}
.box-form p{
  color: #6d6e73;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}
.box-form h6{
  color: #222222;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
} 
.box-form h6 a{
  color: #222222;
  font-family: 'Rubik', sans-serif;
  font-size: 18px; 
}
.box-form h6 a:hover{
  color: var(--bg-main); 
}
.box-form h6 img{
  position: absolute;
  left: 0;
  width: 20px;
  top: -2px;
}
.box-form  input.form-control{
  background-color: #deedf9;
  border-radius: 0px;
  height: 60px;
  font-size: 16px;
  border: none;
  padding-left: 10px;
}
.box-form  input.form-control::placeholder{ 
  font-size: 16px;
  color: #0f4063;
  padding-left: 10px;
}
.box-form textarea.form-control{
  background-color: #deedf9;
  border-radius: 0px;
  height: 222px;
  font-size: 16px;
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;
} 
.box-form textarea.form-control::placeholder{ 
  font-size: 16px;
  color: #0f4063;
  padding-left: 10px;
}
.box-form input.form-control:focus{ 
  padding-left: 10px; 
} 
.box-form textarea.form-control:focus{ 
  padding-left: 10px; 
} 
footer{
  padding-top: 60px; 
  background-color: #f1f1f2;
}
footer .container-fluid{
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--bg-main); 
  font-family: 'Noto Sans Thai', sans-serif;
}
footer ul{ 
  list-style: none;
  padding-left: 0px;
}
footer ul li{ 
  margin-bottom: 10px;
} 
footer h3{ 
  color: #6d6e73;
}
footer ul li{ 
  color: #6d6e73;
}
footer ul li a{ 
  color: #6d6e73;
  font-size: 16px;
  transition: .33s all ease-out; 
  font-family: 'Noto Sans Thai', sans-serif;
  margin-bottom: 10px;
}
footer p{ 
  color: #6d6e73;
  font-size: 14px;
  transition: .33s all ease-out; 
  font-family: 'Noto Sans Thai', sans-serif;
  margin-bottom: 10px;
}
footer ul li:hover a{ 
  color: var(--bg-main); 
}
footer h3{ 
  margin-bottom: 15px;
  color: var(--bg-main3); 
}
.social{
  transition: .33s all ease-out; 
}
.social img{
  width: 30px;
  margin-right: 4px;
}
.social:hover img{
  opacity: .85;
}
footer .img-fluid{ 
  max-width: 80% ;
  margin-bottom: 10px ;
}
 


.menux {
  position: absolute;
  right: 15px;
  top: 15px;
  color: var(--main-color);
  font-size: 32px;
  cursor: pointer;
  z-index: 111 !important;
}

.menu-mb{
  display: none;
  width: 100%;
  height: 100vh !important; 
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #f3f8fb;
  z-index: 222 !important ;
  overflow: hidden;
  padding: 25px;
  position: fixed;
}
.menu-mb.active{
  display: block;
} 
.menu-mb .logo{  
  margin-bottom: 15px;  
} 
.menu-mb .logo img{ 
  max-width: 200px;
} 
.menu-mb ul{ 
  padding-left: 0px;
  list-style: none;
}
.menu-mb ul li{ 
  margin-top: 20px;
  margin-bottom: 20px; 
}
.menu-mb ul li a{ 
  font-weight: 400;
  color: var(--bg-main2);
  font-size: 20px;
  padding-left: 15px;
  position: relative;
  font-family: 'Rubik', sans-serif;
} 
.menu-mb ul li.active a{ 
  color: var(--bg-main3); 
}
.headerx{
  position: relative; 
  width: 100%;  
  z-index: 111 !important;
  height: 70px;
  background-color: #f3f8fb;
}
.headerx img{ 
  height: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
} 
.headerx span{ 
  color: var(--bg-main3);
} 
.closex{
  position: absolute;
  right: 20px;
  top: 20px;
  color: var(--bg-main3);
}
input.search-top{
  height: 35px;
  border: 0px;
  border-bottom: 1px solid var(--bg-text);
  padding-left: 0px;
  border-radius: 0px;
  background-color: transparent;
  font-size: 16px; 
  color: var(--bg-text);
  margin-top: 5px;
}
input.search-top::placeholder{ 
  font-size: 16px; 
  color: var(--bg-text);
} 
input.search-top + span{
  position: absolute;
  right: 15px;
  color: var(--bg-text);
  top: 12px;
  font-size: 18px;
}
.cover-bg{
  height: 200px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  display: flex; 
  align-items: center;
} 
.cover-bg h1{
  font-size: 36px;
  color: var(--bg-main3);
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}
.cover-bg h5{
  font-size: 18px;
  color: var(--bg-main3); 
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}
.cover-bg h5 span{ 
  font-weight: 500;
}
.container-pad{
  padding-top: 50px;
  padding-bottom: 100px;
}
.about-text h1{
  color: var(--bg-main);   
  font-size: 36px;
  font-family: 'Noto Sans Thai', sans-serif;
}
.about-text h2{
  color: var(--bg-main);   
  font-size: 28px;
  font-family: 'Noto Sans Thai', sans-serif;
  margin-bottom: 15px;
}
.about-text p{
  color: #222222;   
  font-size: 20px;
  font-family: 'Noto Sans Thai', sans-serif; 
} 
.about-text p span{
  color: var(--bg-main4);    
}
.cover-bg.text-white h1{
  color: #fff !important;
  text-transform: capitalize !important;
}
.cover-bg.text-white h5{
  color: #fff !important;
} 
.news-bg{
  position: relative; 
  padding-top: 50px;
  padding-bottom: 100px;
}
.news-bg::after{
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  height: 35%; 
  background-color: #eef5ff;
}
.news-bg::before{
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 35%;
  height: 65%;
  background-color: #d7e3ee;
} 
.news-bg h1{
  font-size: 36px;
  color: var(--bg-main);
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}
.news-bg h5{
  font-size: 18px;
  color: var(--bg-main); 
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 400;
}
.news-bg .container{
  position: relative;
  z-index: 10;
}
.bs-placeholder.btn-light{
  background-color: #e3effb;
  border-radius: 0px;  
}
.bs-placeholder.btn-light .filter-option-inner-inner{ 
  color: #10425c;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 16px;
}
.bootstrap-select .dropdown-menu.show{
  background-color: #d9e9f7;
  border-radius: 0px;
}
.bootstrap-select .dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #53a2c9;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #53a2c9;
}
.news-box img.img{
  max-width: 100%;
  object-fit: cover;
  height: 240px;
  display: block;
  width: 100%;
}
.news-box .des{
  padding: 15px 15px 15px;
  background-color: #eef5ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 40px;
}
.news-box .des h3{
  color: var(--bg-main);
  font-size: 16px;
  height: 120px;
  font-family: 'Noto Sans Thai', sans-serif;
}
.news-box .des h5{
  position: relative;
  color: var(--bg-main2);  
  font-size: 13px;
  font-family: 'Noto Sans Thai', sans-serif;
} 
.news-box .des h5 .icon{
  color: var(--bg-main2);
  height: 20px;
  margin-right: 10px; 
}
.news-box .des h6{     
  color: #10425c;   
  overflow: hidden;
  font-size: 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
} 
.news-box .des a{
  color: var(--bg-main3);
  font-size: 16px;
}
.news-box .des a img{
  color: var(--bg-main2);
  height: 20px;
  margin-right: 5px; 
}
.news-box .des h5 span{
  float: right;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  right: 0;
  font-size: 10px;
  color: #fff; 
}
.news-box .des h5 span.bg1{ 
  background-color: #d61853;
}
.news-box .des h5 span.bg2{ 
  background-color: #f36306;
}
.news-box .des h5 span.bg3{ 
  background-color: #a2c352;
}
.news-box .des h5 span.bg4{ 
  background-color: #00aab2;
}
.capitalize-text{
  text-transform: capitalize !important;
}
.expert-main{
  padding-top: 50px;
  padding-bottom: 100px; 
}
.expert-main h1{
  text-align: center;
  color: var(--bg-main);
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}
.nav-expert{
  display: flex;
  justify-content: center;
  border: 0px;
}
.nav-expert{
  display: flex;
  justify-content: center;
  border: 0px;
  padding-bottom: 60px;
}
.nav-expert li{
  margin-left: 15px;
  margin-right: 15px;
  transition: .33s all ease-out; 
} 
.nav-expert li a{
  background-color: #f1f1f2;
  color: var(--bg-main);
  padding: 10px 20px 6px; 
  border: none !important;
  border-bottom: 6px solid #f1f1f2;
  border-radius: 10px !important;
  transition: .33s all ease-out; 
}
.nav-expert li:hover{
  border: none !important;
  border-bottom: 6px solid #f1f1f2;
}
.nav-expert li:hover a{
  border: none !important; 
  color: #fff; 
  background-color: var(--bg-main);
}
.nav-expert li:hover a{
  border: none !important; 
  color: #fff; 
  background-color: var(--bg-main);
} 
.nav-expert li a.active{ 
  background-color: #53a2c9 !important;
  border-bottom: 6px solid var(--bg-main) !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  color: #fff !important; 
}
.expert-box{
  min-height: 112px;
  padding: 20px 20px 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url(../images/rigx.png) , #eef5ff;
  background-position: right  center !important;
  background-repeat: no-repeat !important;
  background-size: auto 140% !important;
  border-bottom: 6px solid #53a2c9;
  margin-bottom: 30px;
  position: relative;
}
.expert-box .img-fluid{
  border-radius: 10px;
}
.expert-box h1{
  margin-top: 20px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 20px;
}
.expert-box h1{
  margin-top: 20px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: left;
}
.expert-box h4{
  font-size: 16px;
  color: #1e81b3;
  margin-bottom: 10px; 
  height: 30px;
}
.expert-box h4 img{
  width: 20px;
  position: relative; 
  margin-right: 10px;
}
.expert-box .text-bb h4{ 
  color: #10425c !important;  
  margin-bottom: 20px;  
} 
.pagg{
  display: flex;
  justify-content: flex-end; 
  list-style: none;
  padding-left: 0px;
}
.pagg li{
  display: flex;
}
.pagg li div{
  width: 35px;
  height: 35px;
  background-color: #53a2c9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: #fff;
  margin-left: 5px; 
  margin-right: 5px; 
  cursor: pointer;
}
.pagg li.active div{
  width: 45px;
  height: 45px; 
  position: relative;
  margin-top: -5px;
}
.pagg li span{ 
  position: relative;
  margin-top: 5px;
  cursor: pointer;
  color: #53a2c9;
}
.disease-main{ 
  padding-top: 50px;
  padding-bottom: 100px; 
  background: url(../images/de-bg.png) , #fff;
  background-position: right  center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;

}
.nav-disease + .tab-content{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  padding: 30px 30px 50px 0px;
  background-color: #eff6ff;
} 
.nav-disease{
  display: flex;  
  border-bottom: 4px solid #218cc2; 
  flex-direction: row; 
  flex-wrap: nowrap!important;
  overflow: hidden;
}
.nav-disease li{
  display: flex;
  margin: auto; 
  width: 100%;
  background-color: #fff;
  border: 0px;
  border-radius: 0px;
  position: relative;
  border-right: 1px solid #218cc2;
} 
.nav-disease li:last-child{ 
  border-right: 1px solid transparent;
} 
.nav-disease li a{
  display: block;
  width: 100%;
  color: #53a2c9;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px !important;
  padding-top: 14px;
  transition: .33s all ease-out;  
  border: 0px !important; 
}
.nav-disease li a.active{
  border: 0px !important; 
  background-color: #218cc2 !important;
  color: #fff !important;
}
.nav-disease li:hover a{
  border: 0px; 
  background-color: #218cc2 !important;
  color: #fff !important;
}  
.nav-inner{
  border: 0px; 
}
.nav-inner li{
  display: block;
  width: 100%;
  border-bottom: 1px solid #8faacd !important;
  margin-bottom: 0px !important;
  position: relative;
}
.nav-inner li a{
  display: block;
  width: 100%;
  background-color: #fff;
  border: 0px !important;
  border-radius: 0px !important;
  color: #124a94;
  padding: 13px 0px 13px 55px;
  position: relative;
  font-weight: 500;
}
.nav-inner li a img{
  height: 25px;  
  left: 10px;
  position: absolute;
}
.nav-inner li a.active{ 
  background-color: #eef5ff !important;
  color: #124a94;
} 
.nav-inner li:last-child{ 
  border-bottom: 0px solid #124a94 !important; 
}
.content-inner h4{
  margin-bottom: 20px;
}
.content-inner h4 span{
  padding: 10px 20px 6px;
  background-color: #53a2c9;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
}
.content-inner p{ 
  color: #222;
  font-size: 18px;
}
.content-inner p span{ 
  color: #218cc2; 
}
.content-inner .img-fluid{
  height: 200px !important;
  width: auto;
}
.content-inner .img-fluid + h6{
  color: #222;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.content-inner .img-fluid + h6 span{ 
  color: #218cc2; 
} 
.content-inner p a{  
  font-size: 18px;  
  color: #218cc2; 
  line-break: anywhere;
}
 


/*

#1e81b3;  

transition: .33s all ease-out; 
font-family: 'Rubik', sans-serif;
font-family: 'Noto Sans Thai', sans-serif;
font-family: 'Kanit', sans-serif;

body.expand
######################################################################################################
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }   
  header{
    display: none;
  } 
  .cover .carousel .carousel-item h3 { 
    font-size: 32px; 
  }
  .cover .carousel .carousel-item img {
    height: 350px;
    object-fit: cover;
    width: 100%;
  }
  .carousel-indicators li{
    width: 10px;
    height: 10px; 
  }
  .carousel-control-prev { 
    width: 40px;
    height: 40px;
    left: 10px; 
  }
  .carousel-control-next { 
    width: 40px;
    height: 40px; 
    right: 10px; 
  }
  .news-sec{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .news-sec h2 { 
    font-size: 32px; 
    margin-bottom: 30px;
  }
  .d-fx{
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
  } 
  .news-sec .btn-x { 
    min-width: unset;
    font-size: 13px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 5px; 
  }
  .box-news {
    min-height: 400px; 
    background-size: 100% auto !important; 
  }
  .activ-sec{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .activ-sec h2 { 
    font-size: 32px; 
    margin-bottom: 30px;
  }
  .dataimg { 
    background-size: auto  100%  !important; 
    margin-bottom: 30px;
  }
  .activ-sec .pr-5{
    padding-right: 15px !important;
  }
  .dataimg h4 { 
    left: 23px;
    font-size: 28px; 
  }
  .partner-sec .item div {
    height: 100px;
    width: 100px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100px 100px !important;
    display: block;
    margin: auto;
  }
  .box-form { 
    padding: 20px; 
    margin-top: 50px;
  }
  .box-form h6 a { 
    line-break: anywhere;
  }
  .box-form .form-control{ 
    margin-bottom: 20px;
  } 
  .owl-nav{
    display: none;
  }
  .container-pad{
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .cover-bg { 
    background-size: auto 100%  !important; 
    height: 135px;
  }
  .cover-bg h1 {
    font-size: 26px; 
  }
  .cover-bg h5{
    font-size: 16px; 
  }
  .aa-mt{
    max-width: 80%;
    margin-bottom: 20px;
  }
  .about-text h1 { 
    font-size: 32px; 
    margin-bottom: 15px;
  }
  .about-text h2 { 
    font-size: 24px; 
    margin-bottom: 15px;
  }
  .about-text p { 
    font-size: 16px; 
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
  }
  .expert-main h1 { 
    font-size: 26px; 
  }
  .nav-expert li {
    margin-left: 0px;
    margin-right: 0px; 
    width: 100%;
    display: block;
  }
  .nav-expert li a{
    padding-left: 0px;
    padding-right: 0px; 
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .expert-box .pl-5{
    padding-left: 15px !important;
  }
  .pagg{ 
    justify-content: center;  
  }
  .nav-disease + .tab-content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 0px 50px 0px;
    background-color: #eff6ff;
  }
  .nav-disease { 
    border-bottom: 4px solid #218cc2;
    flex-direction: unset !important;
    flex-wrap: unset !important; 
    display: block !important;
  }
  .nav-disease li{ 
    border-right: 0px;
  }
  .content-inner .tab-pane{
    padding: 20px;
  }
  .content-inner h4 { 
    font-size: 20px;
    margin-top: 20px;
  }
  .content-inner .pl-5 { 
    padding-left: 20px !important;
  }
  .content-inner p { 
    font-size: 16px;
  }
  .content-inner p a{ 
    font-size: 16px;
  }
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}  

